<!DOCTYPE html>
<html>

<head>
    <title>Cook it- Login</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/public/login/main.css">
</head>

<body>
    <div class="login-box">
        <h1>Login Here</h1>
        <form>
            <p>Username</p>
            <input id="username" type="text" name="username" placeholder="Enter Email">
            <p>Password</p>
            <input id="password" type="password" name="password" placeholder="Enter Password">
            <input id="login" type="submit" name="submit" value="Login">
            <p id="err"></p>
            <a href="#">Forget Password</a>
        </form>
        <a href="/">
            <img src="/public/login/img_home.png" alt="home" class="logo_home"> </a>
    </div>

    <script src="/public/login/main.js"></script>
</body>

</html>