<!DOCTYPE html>
<html>

<head>
    <title>Cook it- Login</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/public/register/main.css">
</head>

<body>
    <div class="login-box">
        <h1>Register Here</h1>
        <form>
            <p>Email</p>
            <input id="usernameReg" type="text" name="username" placeholder="Enter email">
            <p>Password</p>
            <input id="passwordReg" type="password" name="password" placeholder="Enter Password">
            <p>Re-Password</p>
            <input id="password2Reg" type="password" name="password" placeholder="Enter Re-Password">
            <p>Alimentatie</p>
            <select id="alimentatieReg" style="margin-bottom: 20px;">
                <option value="fara" selected>Fara restrictii</option>
                <option value="vegetarian">Vegetarian</option>
                <option value="vegan">Vegan</option>
            </select>
            <p>Post</p>
            <select id="post" style="margin-bottom: 20px;">
                <option value="0" selected>Nu</option>
                <option value="1">Da</option>
            </select>
            <p>Boli</p>
            <select id="boli" name="boli[]" style="margin-bottom: 20px;" multiple>
                <option value="" disabled>Niciuna</option>
                <option value="diabet"> Diabet</option>
                <option value="ulcer"> Ulcer</option>
                <option value="intoleranta_lactoza"> Intoleranta Lactoza</option>
                
            </select>
            <input id="register" type="submit" name="submit" value="Register">
            <a href="#">Forget Password</a>
        </form>
        <a href="/">
            <img src="/public/login/img_home.png" alt="home" class="logo_home"> </a>
    </div>

    <script src="/public/register/main.js"></script>
</body>

</html>