<!DOCTYPE html>
<html lang="en">

<head>
    <title>Cook it</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/home/main.css">
</head>

<body>
    <div class="header">
        <img src="../../public/home/logo.png" alt="logo">
    </div>

    <div class="navbar">
        <!-- <a href="/">Acasa</a>
        <a href="Retete.html">Rețete</a>
        <a href="Despre.html">Despre</a> -->
        <a href="/register" class="right">Register</a>
        <a href="/login" class="right">Log in</a>
        <!-- <input type="text" placeholder="Search..."> -->
    </div>

    <p style="margin-left: 25px ;padding: 0 8em 6em 0;border-width: 30px; "></p>

    <h1 style="color: white">Please log in or creat a new account</h1> 
    <a href="/login" class="button button1">
        <h1>Log in</h1>
  
    </a>
    <a href="/register"  class="button button1">
        <h1>Register</h1>
    </a>

    <script src="/public/home/main.js"></script>
</body>

</html>