<!DOCTYPE html>
<html lang="en">

<head>
    <title>Cook it</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/home/main.css">
</head>

<body>
    <div class="header">
        <img src="/public/home/logo.png" alt="logo">
    </div>

    <div class="navbar">
        <a href="/">Acasa</a>
        <a href="/retete">Rețete</a>
        <a href="/despre">Despre</a>
        <a id="logOut" href="/logout" class="right">Log Out</a>
        <input type="text" placeholder="Search...">
    </div>

    <a href="Desert.html">
        <img src="/public/home/sweet.jpg" alt="Dulce" class="image">
    </a>

    <a href="Vegan.html">
        <img src="/public/home/healthy.jpg" alt="verde" class="image">
    </a>

    <a href="Mic-dejun.html">
        <img src="/public/home/morning.jpg" alt="Morning" class="image">
    </a>

    <a href="Bauturi.html">
        <img src="/public/home/warm.jpg" alt="cald" class="image">
    </a>

    <a href="Fast-food.html">
        <img src="/public/home/fast_food.jpg" alt="cancer" class="image">
    </a>

    <a href="International.html">
        <img src="/public/home/food_flag.jpg" alt="more food" class="image">
    </a>


    <script src="/public/home/main.js"></script>
</body>

</html>