<!DOCTYPE html>
<html lang="en">

<head>
    <title>Cook it</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/home/main.css">

    <link rel="stylesheet" href="/public/home/retete1.css">
    <link rel="stylesheet" href="/public/home/retete2.css">
</head>

<body>
    <div class="header">
        <img src="/public/home/logo.png" alt="logo">
    </div>

    <div class="navbar">
        <a href="/">Acasa</a>
        <a href="/retete">Rețete</a>
        <a href="/despre">Despre</a>
        <a href="/adauga">Adauga reteta</a>
        <a id="logOut" href="/logout" class="right">Log Out</a>
        <input id="search" type="text" placeholder="Search...">
    </div>

    <div id="box" class="gallery_box">
            <!-- <div class="responsive">
              <div class="gallery">
                <a href="Oua_sunca.html">
                        <img src="/public/home/morning.jpg" alt="ciocolata_calda" width="600" height="400">
                </a>
                <div class="desc">Oua ochiuri cu sunca si cascaval</div>
              </div>
            </div> -->
    </div>


    <script src="/public/home/main2.js"></script>
</body>

</html>