* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: url('/public/home/tapet.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    text-align: center;
}

.header {
    padding: 70px;
    text-align: center;
    background: #009e98;
    color: white;
    position: sticky;
}

.header img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: calc(50% - 100px);
}

/* Style the top navigation bar */

.navbar {
    width: 100%;
    overflow: hidden;
    position: sticky;
    background-color: #026d7a;
}

/* Style the navigation bar links */

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Right-aligned link */

.navbar a.right {
    float: right;
}

/* Change color on hover */

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

.image {
    width: 700px;
    height: 500px;
    padding: 40px;
    padding-left: 70px;
    float: left;
    opacity: 1;
}

img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

@media only screen and (min-width: 1000px) and (max-width: 1260px) {
    .image {
        width: 500px;
        height: 300px;
        padding: 40px;
        padding-left: 10%;
        opacity: 1;
    }
}

@media only screen and (min-width: 780px) and (max-width: 1000px) {
    .image {
        width: 380px;
        height: 250px;
        padding: 40px;
        padding-left: 10%;
        opacity: 1;
    }
}

@media only screen and (min-width: 480px) and (max-width: 780px) {
    /* For mobile phones: */
    .header {
        width: 780px;
        text-align: center;
        background: #009e98;
        color: white;
        position: sticky;
    }
    /* Style the top navigation bar */
    .navbar {
        width: 780px;
        overflow: hidden;
        position: sticky;
        background-color: #026d7a;
    }
    .image {
        width: 700px;
        height: 500px;
        padding: 40px;
        padding-left: 15%;
        float: left;
        opacity: 1;
    }
}

@media only screen and (max-width: 480px) {
    /* For mobile phones: */
    .header {
        width: 480px;
        text-align: center;
        background: #009e98;
        color: white;
        position: sticky;
    }
    /* Style the top navigation bar */
    .navbar {
        width: 480px;
        overflow: hidden;
        position: sticky;
        background-color: #026d7a;
    }
    .image {
        width: 400px;
        height: 300px;
        padding: 40px;
        padding-left: 15%;
        float: left;
        opacity: 1;
    }
    .navbar input[type=text] {
        width: 480px;
        border: none;
        padding-left: 10%;
        margin-top: 8px;
        font-size: 17px;
    }
}