body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.header {
    padding: 70px;
    text-align: center;
    background: #009e98;
    color: white;
    position: sticky;

}

.desc {
    background: white;
}

.header img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    position: absolute;
    top:5px;
    left: calc(50% - 100px);
}


/* Style the top navigation bar */
.navbar {
    width: 100%;
    overflow: hidden;
    position: sticky;

    background-color: #026d7a;
}

/* Style the navigation bar links */

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
    float: right;
}

/* Change color on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;

}

.navbar input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}
.gallery_box{
 margin-top: 5%;
 width:80%;
 padding-left:20%;
}

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    max-height: 220px;
    min-height: 220px;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}