
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #dddddd ;
    background-size: cover;
    background-attachment: fixed;
    position: relative;

}

.header {
    padding: 70px;
    text-align: center;
    background: #009e98;
    color: white;
    position: sticky;
    width: 100%;

}

.header img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    position: absolute;
    top:5px;
    left: calc(50% - 100px);
}


/* Style the top navigation bar */
.navbar {
    width: 100%;
    overflow: hidden;
    position: sticky;

    background-color: #026d7a;
}

/* Style the navigation bar links */

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
    float: right;
}

/* Change color on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;

}

.navbar input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

/* Column container */
.row {
    display: flex;
    padding: 50px;
    padding-left:150px;
    padding-right: 150px;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    flex: 200px;
    background-color: blanchedalmond;
    padding: 20px;
}

/* Main column */
.main {
    flex: 600px;
    background-color: white;
    padding: 20px;

}
.main img{
    width: 600px;
    height: 300px;
    padding: 20px;
    padding-left: 25%;
    opacity: 1;
}


@media only screen and (min-width: 760px) and (max-width: 1000px)  {
    /* For mobile phones: */
    .header {
        width: 1000px;
        text-align: center;
        background: #009e98;
        color: white;
        position: sticky;

    }


    /* Style the top navigation bar */
    .navbar {
        width: 1000px;
        overflow: hidden;
        position: sticky;
        background-color: #026d7a;
    }



}

@media only screen and (min-width: 480px) and (max-width: 760px)  {
    /* For mobile phones: */
    .header {
        width: 770px;
        text-align: center;
        background: #009e98;
        position: sticky;

    }


    /* Style the top navigation bar */
    .navbar {
        width: 770px;
        overflow: hidden;
        position: sticky;
        background-color: #026d7a;
    }

    .row {
        display: flex;
        padding: 30px;

    }

    .side {
        flex: 200px;
        background-color: blanchedalmond;
        padding: 20px;
    }

    /* Main column */
    .main {
        flex: 400px;
        background-color: white;
        padding: 20px;

    }
    .main img{
        width: 500px;
        height: 300px;
        padding: 20px;
        padding-left: 25%;
        opacity: 1;


    }



}

@media only screen  and (max-width: 480px)  {
    /* For mobile phones: */
    .header {
        width: 480px;
        text-align: center;
        background: #009e98;
        color: white;
        position: sticky;

    }


    /* Style the top navigation bar */
    .navbar {
        width: 480px;
        overflow: hidden;
        position: sticky;
        background-color: #026d7a;
    }



    .navbar input[type=text] {
        width:480px;
        border: none;
        padding-left:10%;
        margin-top: 8px;
        font-size: 17px;
    }

    .row {
        display: flex;
        padding: 10px;

    }

    .side {
        flex: 100px;
        background-color: blanchedalmond;
        padding: 10px;
    }

    /* Main column */
    .main {
        flex: 100px;
        background-color: white;
        padding: 10px;

    }
    .main img{
        width: 280px;
        height: 150px;
        padding: 20px;
        padding-left: 25%;
        opacity: 1;

    }



}


















