<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reteta</title>

    <link rel="stylesheet" href="/public/home/main.css">
    <link rel="stylesheet" href="/public/reteta/main.css">

    <style>
        #comentarii {
            background: white;

            width: 100%;
            max-width: 800px;

            margin: auto;
        }
    </style>
</head>
<body>
        <div class="header">
            <img src="/public/home/logo.png" alt="logo">
        </div>
    
        <div class="navbar">
            <a href="/">Acasa</a>
            <a href="/retete">Rețete</a>
            <a href="/despre">Despre</a>
            <a id="logOut" href="/logout" class="right">Log Out</a>
        </div>

        <div id="bod">

        </div>
<div class="div div1">
        <div id="comentarii"  >
            <div id="contentComentarii" >
                    <p style="margin-left: 25px ;padding: 0 5em 3em 0;border-width: 30px; "></p>
                    <h1>Comentarii</h1>
            </div>
           
            <div >
                <textarea name="" id="comentariu" cols="100" rows="5" placeholder="Adauga un nou comentariu"></textarea>
            </div>
            <button id="sendComent">Trimite comentariu</button>

            <p style="margin-left: 25px ;padding: 0 5em 3em 0;border-width: 30px; "></p>
        </div>

    </div>

        <p style="margin-left: 25px ;padding: 0 7em 3em 0;border-width: 30px; "></p>

<script src="/public/reteta/main.js"></script>
</body>
</html>