<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reteta</title>

    <link rel="stylesheet" href="/public/home/main.css">
    <link rel="stylesheet" href="/public/reteta/main.css">
</head>
<body>
        <div class="header">
            <img src="/public/home/logo.png" alt="logo">
        </div>
    
        <div class="navbar">
            <a href="/">Acasa</a>
            <a href="/retete">Rețete</a>
            <a href="/despre">Despre</a>
            <a id="logOut" href="/logout" class="right">Log Out</a>
        </div>

        <div id="bod">

        </div>
<script src="/public/reteta/main.js"></script>
</body>
</html>