<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cook it-Retete</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/public/retete/main.css">
</head>
<body>
 <div class="header">
        <img src="/public/retete/logo.png" alt="logo" class="logo">

    </div>

    <div class="navbar">
        <a href="/">Acasa</a>
        <a href="/retete">Retete</a>
        <a href="/despre">Despre</a>
        <a id="logOut" href="/logout" class="right">Log Out</a>
        <input type="text" placeholder="Search...">

    </div>

 <div class="gallery_box">
<div class="responsive">
  <div class="gallery">
    <a href="Oua_sunca.html">
      <img src="/public/retete/Oua_sunca.jpg" alt="oua_sunca" width="300" height="200">
    </a>
    <div class="desc">Oua ochiuri cu sunca si cascaval</div>
  </div>
</div>


<div class="responsive">
  <div class="gallery">
    <a href="Cheesecake.html">
      <img src="/public/retete/cheesecake.jpg" alt="cheesecake" width="600" height="400">
    </a>
    <div class="desc">Cheesecake fara coacere (la borcan)</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="Fulgi_ovaz.html">
      <img src="/public/retete/fulgi_ovaz.jpg" alt="fulgi_ovaz" width="600" height="400">
    </a>
    <div class="desc">Fulgi de ovaz cu capsune si unt de arahide</div>
  </div>
</div>

   <div class="responsive">
     <div class="gallery">
       <a href="Shaorma.html">
         <img src="/public/retete/Shaorma.jpg" alt="shaorma" width="600" height="400">
       </a>
       <div class="desc">Shaorma de pui</div>
     </div>
   </div>

   <div class="clearfix"></div>

<div class="responsive">
  <div class="gallery">
    <a href="Ardei_post.html">
      <img src="/public/retete/Ardei_post.jpg" alt="ardei" width="600" height="400">
    </a>
    <div class="desc">Ardei umpluti de post</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="Piure_mazare.html">
      <img src="/public/retete/Piure_mazare.jpg" alt="piure" width="600" height="400">
    </a>
    <div class="desc">Piure de mazare cu sos pesto</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="Ciocolata_calda.html">
      <img src="/public/retete/ciocolata_calda.jpg" alt="ciocolata_calda" width="600" height="400">
    </a>
    <div class="desc">Ciocolata Calda Cremoasa</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="Salata_cuscus.html">
      <img src="/public/retete/Salata_cuscus.png" alt="salata" width="600" height="400">
    </a>
    <div class="desc">Salata de cuscus</div>
  </div>
</div>


<div class="clearfix"></div>

<div class="responsive">
  <div class="gallery">
    <a href="Briosa.html">
      <img src="/public/retete/briosa.jpg" alt="briosa" width="600" height="400">
    </a>
    <div class="desc">Briose de cacao cu bezea</div>
  </div>
</div>

   <div class="responsive">
     <div class="gallery">
       <a href="Prajitura_lamaie.html">
         <img src="/public/retete/lamaie.jpg" alt="prajitura" width="600" height="400">
       </a>
       <div class="desc">Prajitura inteligenta cu lamaie</div>
     </div>
   </div>

<div class="responsive">
  <div class="gallery">
    <a href="Colac_italian.html">
      <img src="/public/retete/Colac-italian.jpg" alt="colac" width="600" height="400">
    </a>
    <div class="desc">Colac italian impletit</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="Briose_englezesti.html">
      <img src="/public/retete/Briose_englezesti.jpg" alt="briose" width="600" height="400">
    </a>
    <div class="desc">Briose englezesti cu leurda</div>
  </div>
</div>

<div class="clearfix"></div>

   <div class="responsive">
     <div class="gallery">
       <a href="Nuggets.html">
         <img src="/public/retete/Nuggets.jpg" alt="nuggets" width="600" height="400">
       </a>
       <div class="desc">Nuggets de pui</div>
     </div>
   </div>

   <div class="responsive">
     <div class="gallery">
       <a href="Hamburgeri.html">
         <img src="/public/retete/hamburger.jpg" alt="burger" width="600" height="400">
       </a>
       <div class="desc">Hamburgeri cu legume</div>
     </div>
   </div>

   <div class="responsive">
     <div class="gallery">
       <a  href="Vin_fiert.html">
         <img src="/public/retete/Vin_fiert.jpg" alt="vin" width="600" height="400">
       </a>
       <div class="desc">Vin fiert cu scortisoara</div>
     </div>
   </div>

   <div class="responsive">
     <div class="gallery">
       <a href="Croissante.html">
         <img src="/public/retete/croissante.jpg" alt="croissante" width="600" height="400">
       </a>
       <div class="desc">Croissante cu sunca si cascaval</div>
     </div>
   </div>

   <div class="clearfix"></div>

   <div class="responsive">
     <div class="gallery">
       <a href="Burrito.html">
         <img src="/public/retete/burrito.jpg" alt="burrito" width="600" height="400">
       </a>
       <div class="desc">Burrito cu ardei gras si ou</div>
     </div>
   </div>

   <div class="responsive">
     <div class="gallery">
       <a href="Sirop_menta.html">
         <img src="/public/retete/sirop_menta.jpg" alt="menta" width="600" height="400">
       </a>
       <div class="desc">Sirop de menta</div>
     </div>
   </div>

   <div class="clearfix"></div>

</div>

  <script src="/public/retete/main.js"></script>
</body>
</html>