<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cook it-Retete</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/public/retete/main.css">
</head>
<body>
 <div class="header">
        <img src="/public/retete/logo.png" alt="logo" class="logo">

    </div>

    <div class="navbar">
        <a href="/">Acasa</a>
        <a href="/retete">Retete</a>
        <a href="/despre">Despre</a>
        <a id="logOut" href="/logout" class="right">Log Out</a>
        <input type="text" placeholder="Search...">

    </div>

<div id="box" class="gallery_box">

</div>

  <script src="/public/retete/main.js"></script>
</body>
</html>